python-telegram-bot
# books.py

BOOKS = [
    {"id": 1, "name": "Кӯдаки нобиғаи ман", "price": 10, "file": "books/book1.pdf"},
    {"id": 2, "name": "Китоби 2", "price": 10, "file": "books/book2.pdf"},
    {"id": 3, "name": "Китоби 3", "price": 10, "file": "books/book3.pdf"},
]
# config.py

# Токени бот
BOT_TOKEN = "8716435321:AAGokhQ-JKLOHdDQbp1DEWYlorgHwPnhI_s"

# Telegram ID-и админ
ADMIN_ID = 123456789

# Рақами корти пардохт
CARD_NUMBER = "5058 2701 1508 5556"

# Нархҳо
PRICE_ONE_BOOK = 10
PRICE_TWO_BOOKS = 15
PRICE_SAIDMUROD_SET = 45
PRICE_ALL_BOOKS = 180
